* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
#about-body {
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
}
#header {
  position: sticky;
}
.about-h1 {
  text-align: center;
  margin-top: 10px;
}

.about-h2 {
  margin-top: 40px;
}

.about-h3 {
  margin-top: 30px;
}
.container p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.mail p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px solid black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.group-info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 30px;
  transition: all 0.5 ease-in-out;
}

.group-info dl {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.group-info dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.group-info dd {
  margin-left: 0;
  margin-bottom: 0;
}

.card {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  width: 150px;
  height: 200px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.card img {
  margin-top: 15px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.card h3 {
  font-size: 18px;
  margin: 0;
  padding-top: 5px;
}
.card p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  text-align: center;
  transition: all 0.5s ease;
}

.timetable {
  margin-top: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}
.timetable h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.timetable table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

.timetable th,
.timetable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.timetable th {
  background-color: #333;
  color: #fff;
}

.mail {
  margin-top: 50px;
}

.mail a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.mail a:hover {
  transform: scale(1.2);
  background-image: linear-gradient(#6045ea, #8567f7);
  color: whitesmoke;
}

.card:hover {
  transform: scale(1.2);
  background: linear-gradient(#6045ea, #8567f7);
  color: whitesmoke;
}
.card:hover > p {
  color: white;
}

.card:hover > img {
  transform: scale(1.1);
}

footer {
  margin-top: auto;
}
