/* .container {
  text-align: center;
  align-items: center;
}

.container h2 {
  margin-top: 50px;
}
.about-text {
  width: 640px;
  padding: 10px;
  border: 5px solid;
  margin: auto;
}

.member-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 200px;
  height: 200px;
  margin: auto;
}

.member-grid-row img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */
