  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing:border-box;
  }
  /* Header navigation */
  nav {
    width: 100%;
    height: 75px;
    line-height: 75px; /* height between words in nav */
    padding: 0px, 100px;
    position: fixed;
    background:  #ccd5f8;  /* #EDF1FF */
    text-align: center;
  }

  /* logo on the left */
  nav .logo {
    font-size: 30px;
    font-weight:bold;
    float: left;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer; /* show cursor not the mouse */
  }
  
  nav ul {
    float: left;
  }
   /* display horizontally the nav */
  nav li {
    display: inline;
    list-style: none; 
    /* not showing dot of ul ol */
  }

  nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 30px 114px;
    color:#333;
    text-decoration: none;
  }
  /*decoration more transition of header */
  nav li a:hover {
    background-color: white;
    color: #ff8c69;
    transition: 0.8s ease-out;
/* for the footer */
  }
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* color change left to right of linear-gradient */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 20px 0 10px;
     /* border-top-left-radius: 125px; */
    font-size: 13px;
    line-height: 12px;
  }
  .row {
    width: 95%; /* gap between each row including 3 rows*/
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  /* divide the column equally */
 .col {
    flex-basis:25%;
    padding: 10px;
 }
 /*team logo */
 .logo {
    width: 120px;
    margin-bottom: 30px;
 }

 /* col 2 email phone */
 .col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
 }
 .email-id {
  width: fit-content;
  border-bottom: 1px solid #333;
  margin: 20px 0;
 }

 ul li {
  list-style: none;
  margin-bottom: 12px;
 }

ul li a {
  text-decoration: none;
  color: #fff;
}
/* last column, no need submit button */
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
/* copy right the end */
 hr{
   width: 95%;
   border : 0;
   border-bottom: 1px solid #333;
   margin: 10px auto;
 }