
/* Styles form inputs 
Adapted from W3Schools - https://www.w3schools.com/howto/howto_css_stacked_form.asp
*/
input[type=text], input[type=tel], input[type=email], input[type=date], textarea, select {
    width: 100%;
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

/* Adds spacing between form elements */
  input, select, fieldset {
    margin: 5px 0 15px 0;
  }
  
  /* Styles the submit button on forms 
  Adapted from W3Schools - https://www.w3schools.com/howto/howto_css_stacked_form.asp
  */
  input[type=submit] {
    width: 30%;
    background-color: #0b63d5;
    color: white;
    padding: 8px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
  }

  /* Reduces the width of the main content on pages and centers it */
  main {
    width: 50%;
    margin: auto;
  }